<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.markPolia.action.dao.PassbyMapper">
  <resultMap id="baseResultMap" type="com.github.markPolia.action.domain.Passby">
    <id column="passby_id" jdbcType="VARCHAR" property="passbyId" />
    <result column="train_no" jdbcType="VARCHAR" property="trainNo" />
    <result column="station_name" jdbcType="VARCHAR" property="stationName" />
    <result column="approach" jdbcType="TIME" property="approach" />
    <result column="departure" jdbcType="TIME" property="departure" />
    <result column="station_order" jdbcType="TINYINT" property="stationOrder" />
  </resultMap>
  <select id="selectByLocations" resultMap="baseResultMap">
    select *
    from t_passby
    where station_name = #{beginStation} or station_name = #{goalStation};
  </select>
</mapper>